go 1.24.0

use (
	.
	./ext/breaker/gobreaker
	./ext/brotli
	./ext/cache/lru
	./ext/cache/twolevel
	./ext/chaos
	./ext/graphql
	./ext/grpc
	./ext/http3
	./ext/jitterbug
	./ext/logrus
	./ext/memcached
	./ext/metrics
	./ext/mock
	./ext/oauth
	./ext/openapi
	./ext/prometheus
	./ext/ratelimit/distributed
	./ext/redis
	./ext/sentry
	./ext/sigv4
	./ext/slog
	./ext/tracing
	./ext/vcr
	./ext/websocket
	./ext/zap
	./ext/zerolog
)
