go 1.24

use (
	.
	./ext/breaker/gobreaker
	./ext/brotli
	./ext/cache/lru
	./ext/cache/twolevel
	./ext/grpc
	./ext/jitterbug
	./ext/logrus
	./ext/memcached
	./ext/metrics
	./ext/mock
	./ext/oauth
	./ext/openapi
	./ext/prometheus
	./ext/ratelimit/distributed
	./ext/redis
	./ext/sentry
	./ext/sigv4
	./ext/tracing
	./ext/zap
	./ext/zerolog
)

replace (
	github.com/jhonsferg/relay v0.0.0 => .
	github.com/jhonsferg/relay/ext/breaker/gobreaker v0.0.0 => ./ext/breaker/gobreaker
	github.com/jhonsferg/relay/ext/brotli v0.0.0 => ./ext/brotli
	github.com/jhonsferg/relay/ext/cache/lru v0.0.0 => ./ext/cache/lru
	github.com/jhonsferg/relay/ext/cache/twolevel v0.0.0 => ./ext/cache/twolevel
	github.com/jhonsferg/relay/ext/grpc v0.0.0 => ./ext/grpc
	github.com/jhonsferg/relay/ext/jitterbug v0.0.0 => ./ext/jitterbug
	github.com/jhonsferg/relay/ext/logrus v0.0.0 => ./ext/logrus
	github.com/jhonsferg/relay/ext/memcached v0.0.0 => ./ext/memcached
	github.com/jhonsferg/relay/ext/metrics v0.0.0 => ./ext/metrics
	github.com/jhonsferg/relay/ext/mock v0.0.0 => ./ext/mock
	github.com/jhonsferg/relay/ext/oauth v0.0.0 => ./ext/oauth
	github.com/jhonsferg/relay/ext/openapi v0.0.0 => ./ext/openapi
	github.com/jhonsferg/relay/ext/prometheus v0.0.0 => ./ext/prometheus
	github.com/jhonsferg/relay/ext/ratelimit/distributed v0.0.0 => ./ext/ratelimit/distributed
	github.com/jhonsferg/relay/ext/redis v0.0.0 => ./ext/redis
	github.com/jhonsferg/relay/ext/sentry v0.0.0 => ./ext/sentry
	github.com/jhonsferg/relay/ext/sigv4 v0.0.0 => ./ext/sigv4
	github.com/jhonsferg/relay/ext/tracing v0.0.0 => ./ext/tracing
	github.com/jhonsferg/relay/ext/zap v0.0.0 => ./ext/zap
	github.com/jhonsferg/relay/ext/zerolog v0.0.0 => ./ext/zerolog
)
